##Add everything that you dont want to commit into github
.env
*.pem
*.key

.venv
node_modules

*.tfstate

*.tfstate.*
*.tfvars
.tfvars.json
.teraform/
.terraform/
.terraform.lock.hcl

.DS_Store
Thumbs.bd

*.zip
*.jar